:root {
	--primaryColor: 0, 160, 255;
	
	--primaryColor1: rgb(var(--primaryColor));
	--primaryColor2: rgba(var(--primaryColor), 0.5);
	--primaryColor3: rgba(var(--primaryColor), 0.75);
}

html[data-theme="dark"] {
	--background: rgb(45, 45, 45);
	--background2: rgb(55, 55, 55);
	--textColor: white;
	--primaryTextColor: rgb(230, 230, 230);

	--uncheckedHover: rgb(55, 55, 55);

	--scrollBarTrack: rgb(55, 55, 55);
	--scrollBarThumb: rgb(110, 110, 110);
	--scrollBarThumbHover: rgb(130, 130, 130);
}

html[data-theme="light"] {
	--background: rgb(235, 235, 235);
	--background2: rgb(225, 225, 225);
	--textColor: black;
	--primaryTextColor: rgb(50, 50, 50);

	--uncheckedHover: rgb(220, 220, 220);

	--scrollBarTrack: rgb(210, 210, 210);
	--scrollBarThumb: rgb(165, 165, 165);
	--scrollBarThumbHover: rgb(145, 145, 145);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollBarTrack);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollBarThumb);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollBarThumbHover);
}

* {
	margin: 0;
	padding: 0;
	color: var(--textColor);
}

*:not(.material-icons) {
	font-family: Roboto, Arial !important;
}

body {
	background-color: var(--background);
}

button {
	background-color: var(--primaryColor1) !important;
	font-weight: 500;
	border-radius: 4px !important;
}

button:hover {
	background-color: var(--primaryColor3) !important;
}

.input-field {
	margin: 33px 0px;
}

.input-field input {
	border-bottom-color: var(--primaryColor1) !important;
	box-shadow: 0px 0px 0px 0px var(--primaryColor1) !important;
}

.input-field input:focus, .input-field input:hover {
	box-shadow: 0px 1px 0px 0px var(--primaryColor1) !important;
}

.input-field input[type="text"] + label {
	color: var(--textColor) !important;
}

.input-field input[type="text"]:focus + label {
	color: var(--primaryColor1) !important;
}

.filled-in:checked ~ span::after {
	background-color: var(--primaryColor1) !important;
	border-color: var(--primaryColor1) !important;
}

.filled-in:checked:hover ~ span::after {
	background-color: var(--primaryColor3) !important;
	border-color: var(--primaryColor3) !important;
}

.filled-in:hover ~ span::after {
	background-color: var(--uncheckedHover) !important;
}

.switch {
	text-align: center;
}

.switch label {
	font-size: 14px;
	color: var(--primaryTextColor);
}

.switch input[type="checkbox"]:checked + .lever::before,
.switch input[type="checkbox"] + .lever::before {
	background-color: var(--primaryColor1) !important;
	opacity: 0.15;
}

.switch input[type="checkbox"]:checked + .lever::after,
.switch input[type="checkbox"] + .lever::after {
	background-color: var(--primaryColor1) !important;
}

.switch input[type="checkbox"]:checked:hover + .lever::after,
.switch input[type="checkbox"]:hover + .lever::after {
	background-color: var(--primaryColor3) !important;
}

.switch input[type="checkbox"]:checked + .lever,
.switch input[type="checkbox"] + .lever {
	background-color: var(--primaryColor2) !important;
}

/* Randomizer Options CSS */

body#randomizerOptionsBody {
	padding: 0px 20px;
}

.default {
	color: var(--primaryTextColor);
}

.heading {
	background-color: var(--background2);
	color: var(--primaryTextColor);
	padding: 15px 0px;
	border-radius: 10px;
	font-size: 28px;
	text-align: center;
	font-weight: 450;
}

.category {
	display: grid;
	grid-template-areas: "line category line2";
	align-items: center;
	text-align: center;
	margin: 25px 0px;
}

.category span {
	color: var(--primaryTextColor);
	font-size: 20px;
	font-weight: 450;
}

.category hr {
	border-color: var(--primaryTextColor);
	opacity: 0.33;
}

.randomizerDiv > div {
	color: var(--textColor);
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 25px 0px;
}

.allAndEnable {
	display: grid;
	justify-items: left;
	margin: 25px 0px;
}

.allAndEnable a {
	background-color: rgba(0, 0, 0, 0) !important;
	color: var(--primaryColor1);
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 15px;
	margin-bottom: 13px;
	user-select: none;
	transition: 0.25s background-color;
}

.allAndEnable a:hover {
	background-color: var(--background2) !important;
}

/* Top Nav Bar */

nav {
	all: unset;
	position: sticky;
	display: flex;
	background-color: var(--background2);
	top: 0px;
	transform: translateX(-20px);
	width: calc(100% + 40px);
	text-transform: uppercase;
	z-index: 100;
}

nav ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

nav ul li a {
	color: var(--primaryTextColor);
	font-weight: 450;
	font-size: 14px;
	padding: 14px;
}

/* Bottom Bar */

#bottomBar {
	position: sticky;
	background-color: var(--background);
	bottom: 0px;
	transform: translateX(-20px);
	width: calc(100% + 40px);
	padding: 13px;
	z-index: 1000;
}

#optionsVersion {
	position: absolute;
	font-size: 14px;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, 50%);
}

/* Randomizer Popup CSS */

body#randomizerPopupBody {
	text-align: center;
	padding: 10px 20px;
}

body#randomizerPopupBody h4 {
	font-weight: 450;
	margin-top: 25px;
	margin-bottom: 15px;
}

#optionsButton {
	margin-bottom: 15px;
}

#popupVersion {
	position: absolute;
	font-size: 14px;
	top: 10px;
	left: 10px;
}
